save-prefix=''
shell-emulator=true
enable-pre-post-scripts=false
resolution-mode=lowest-direct
verify-deps-before-run=install
catalog-mode=strict
cleanup-unused-catalogs=true
optimistic-repeat-install=true